@media(max-width:1500px) {
    .galery-content {
        display: block;
    }

    .img-gall,
    .galery-up,
    .galery-down {
        display: block;
        margin-left: auto;
        margin-right: auto; /*Автомотическое выравневание по центру*/
    }
    .img-gall{
        margin-bottom: 12px;
    }
    .galery-left{
        margin-left: 0;
    }
}

@media(max-width:1300px){
    .menu-items{
        display: block;
    }

    .menu-item{
        margin: 20px auto;
        width: 600px;
    }

    .header-title{
        position: static;
    }
    
    .header-suptitle::before,
    .header-suptitle::after{
        content:none;
    }

    .povar-content{
        display: block;
    }
    .povar-content img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }

    .block-holder{
        display: block;
    }

    .left-title,
    .left-text,
    .right-bottom{
        text-align: center;
    }
    .right-bottom{
        margin-top: 30px;
    }

    .history-image{
        display: none;
    }

    .history-title,
    .history-desk,
    .history-number{
        width: auto;
    }

    
}

@media(max-width:1185px){
    .burger-menu{
        display: block;
    }
    .nav,
    .cart,
    .phone,
    .btn{
        display: none;
    }

    .header-line{
        justify-content: space-between;
    }

    .burgers-image{
        display: none;
    }
}

@media(max-width:1000px){
    .cards-holder{
        display: block;
    }
    .card{
        width: 100%;
        margin-top: 30px;
        padding-bottom: 20px;
    }
}

@media(max-width:780px){
    .history-holder{
        display: block;
    }
    .menu-item{
        width: auto;
    }
    .high{
        display: none;
    }
    .container{
        margin: auto 40px;
    }
    .number-item{
        font-size: 23px;
    }
}